<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="custom.css">
  <title>Node Bills</title>
</head>
<body>
 
  <div class="form-login">
    <input placeholder="user or e-mail">
    <input placeholder="password">
    <button class="submitButton">Submit</button>
  </div>

  <script src="clientSide.js"></script> 
</body>
</html>