<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node Bills</title>
</head>
<body>
  <head>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/Entrances">Entradas</a></li>
      <li><a href="/Outflows">Saidas</a></li>
    </ul>
  </head>

  <%- body %>
</body>
</html>